.App {
  text-align: center;
  
}

.Preview {

  text-align: center;
  justify-content: center;
  margin: 0px;
}

.Login {
  align-items: center;
  text-align: center;
  color: white;
}

.Login img {
  width: 100px;
  height: 100px;
  border-radius: 70%
}

hr {
  background: #A03BC4;
  height:1px;
  border:0;
}
 
input {
  background-color: transparent;

}