<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.domainrdb.dao.user.UserDao">
	<select id = "findByKakaoID" resultType="UserVo">
		<![CDATA[
			select * from user where kakao_id = #{id}
		]]>
	</select>
	
	<insert id = "insertUser" parameterType="UserVo">
		<![CDATA[
			insert into user values(#{kakao_id}, #{name}, #{nickname}, #{image}, #{birth}, #{gender}, #{interest})
		]]>
	</insert>
</mapper>
	