<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.domainrdb.dao.user.UserDao">
	<select id = "findByKakaoID" resultType="UserVo">
		<![CDATA[
			select * from user where kakao_id = #{id}
		]]>
	</select>
	
	<insert id = "insertUser" parameterType="UserVo">
		<![CDATA[
			insert into user(kakao_id,name,nickname,image,birth,gender,interest) values(#{kakao_id}, #{name}, #{nickname}, #{image}, #{birth}, #{gender}, #{interest})
		]]>
	</insert>
	
	<select id="findUserByUid" resultType="UserVo">
		<![CDATA[
			select * from user where uid = #{uid}
		]]>
	</select>
	
	<select id="findUserCountByNickname" resultType="UserVo">
		<![CDATA[
			select * from user where nickname = #{nickname}
		]]>
	</select>
	
	<update id="updateUserInfo" parameterType="UserVo">
		<![CDATA[
			update user set nickname=#{nickname} , name =#{name}
			 , gender=#{gender} , interest = #{interest} , birth = #{birth} , 
			 image =#{image} where uid = #{uid}
		]]>
	</update>
	
	<delete id="deleteUser" parameterType="Long">
		<![CDATA[
			delete from user where uid = #{uid}
		]]>
	</delete>
	
	<insert id = "reportUser" parameterType="ReportVo">
		<![CDATA[
			insert into report(`content`,`from`,`to`) values(#{content}, #{from}, #{to})
		]]>
	</insert>
</mapper>
	